<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:application.properties" ignore-unresolvable="true"/>

    <!-- 开启 @Required、@Autowired、@PostConstruct、 @PreDestroy、@Resource等JSR250标准中的注解 -->
    <context:annotation-config/>

    <!-- 扫描bean路径，排除@Controler注解，因为已经在spring-mvc配置文件中扫描了 -->
    <context:component-scan base-package="com.bj.jd.zzq">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--开启spring MVC高级功能,如参数解析器、处理映射器等 -->
<!--    <mvc:annotation-driven />-->

    <!-- 开启基于注解的事务驱动，开启@Transactional注解 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 开启aop事务注解驱动 -->
    <aop:aspectj-autoproxy/>

    <!-- 导入其他配置文件 -->
    <import resource="classpath:spring-config-datasource.xml"/>
    <import resource="classpath:spring-config-dao.xml"/>

</beans>